/* Estilamos toda la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}

/* Estilamos el header */
header {
  background-color: #1f2937;
  color: #F9FAF8;
}

.nav-hero {
  width: 75%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 70px;
}

.hero div {
  display: flex;
  justify-content: space-between;
}

.hero div p {
  font-weight: 900;
}

.hero div ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 15px;
}

.hero div ul li a {
  text-decoration: none;
  color: #F9FAF8;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.hero-main-text {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 250px;
  justify-content: center;
}

.sign-up {
  width: 72px;
  border-radius: 5px;
  background-color: #3882f6;
  text-decoration: none;
  color: #F9FAF8;
  margin-top: 5px;
}

.text {
  font-size: 48px;
  font-weight: 900;
}

.other-text {
  width: 360px;
}

.hero-secondary-text {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  margin-top: 20px;
}

/* Estilamos el main */
.information-text {
  background-color: white;
  width: 75%;
  margin: auto;
}

.paragraph {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  margin: 20px;
  padding: 10px;
}

.information {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  gap: 40px;
}

.item-text {
  text-align: center;
}

.illustration {
  width: 140px;
  height: 130px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item-text p {
  font-size: 0.9em;
  height: 100px;
  width: 130px;
}

/* Estilamos el section de la cita (quote-section) */
.quote-section {
  background-color: #e5e7eb;
  padding: 70px;
}

.quote {
  width: 75%;
  margin: auto;
  padding-bottom: 20px;
}

blockquote p {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 20px;
  font-weight: 300;
  width: 559px;
  height: 100px;
  padding: 30px 0 0 0;
  margin: auto;
}

blockquote footer {
  text-align: right;
  margin-top: 20px;
  margin-right: 175px;
}

/* Estilamos el other-section */
main {
  width: 100%;
}
.other-section {
  background-color: white;
  margin: 70px;
}

.other {
  width: 75%;
  margin: auto;
  background-color: #3882f6;
  display: flex;
  border-radius: 5px;
}

.another {
  padding: 40px 40px 40px 170px;
  color: #f9faf8;
}

.another .text-one {
  font-size: 20px;
  font-weight: 900;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  color: white;
  text-decoration: none;
  background-color: #3882f6;
  padding: 3px 18px;
  border-radius: 5px;
  border: 1.5px solid #fff;
}

/* Por último, estilamos el footer */
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  padding: 50px;
}